<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
    <link rel="stylesheet" href="https://latex.now.sh/style.css">
    <link rel="stylesheet" href="/style.css">
    
  </head>
  
  <body>
    {{ partial "navbar.html" . }}
    <div>
      {{ block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
      {{ end }}
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>